@import url(https://db.onlinewebfonts.com/c/8cdbb48678e4418f22a2f507c2b975bd?family=Blanka-Regular);
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

.home {
    background-image: url(./assets/home.png);
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.homeBg{
    background: transparent;
}

.homeh1 {
    background: transparent;
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: "Blanka-Regular";
    margin-top: 0%;
    margin-bottom: 5%;
}

.homeh2 {
    background: transparent;
    color: white;
    text-align: center;
    width: 80%;
    font-size: 25px;
    font-family: 'Glacial Indifference', sans-serif;
    margin: 0 10% 0% 10%;
    
}

.homeh3 {
    background: transparent;
    color: white;
    text-align: center;
    width: 80%;
    font-size: 25px;
    font-family: 'Glacial Indifference', sans-serif;
    margin: 0 10% 10% 10%;
    
}