@import url(https://db.onlinewebfonts.com/c/8cdbb48678e4418f22a2f507c2b975bd?family=Blanka-Regular);


body{
    background: radial-gradient(white,rgb(207, 206, 206),rgb(129, 129, 129));
    
}
.sem2Title{
    text-align: center;
    font-size: 60px;
    padding-top: 3%;
    font-style: oblique;
}

.sem2Container{
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    padding-top: 6%;
}

.card{
    
   background-color: rgb(63, 87, 87);
    margin: 4%;
    padding: 9% 4% 9% 4%;
    width: 300px; 
    height: 200px;
    display: flex;
    transition: box-shadow 0.3s;
   
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}
.card-body{
    background-color: brown;
    
}
.card-text{
    font-size: 0.9rem;
    padding:0.4rem 1.9rem;
}
.container-fluid .row{
    padding-top:6rem;
    
}
.seeme{
    color: white;
    text-align: center;
    font-size: 110%;
    
    font-weight:400;
}
.tab{
    background-color:rgb(177, 209, 191);
    width: 413px;
    position: absolute;
    top: 190px;
    right: -68px;
   
}





